/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,canvas,progress,video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,strong {
  font-weight: 700;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,input,optgroup,select,textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],input[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: 700;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}

/* Slider */
.slick-slider {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list,.slick-slider {
  position: relative;
  display: block;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:after,.slick-track:before {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-list,.slick-track {
  height: 100%;
}

.slick-slide:focus {
  outline: none;
}

.icon,.icon--arrow-left,.icon--arrow-right,.icon--cart,.icon--cross,.icon--facebook,.icon--folder,.icon--hart,.icon--instagram,.icon--left,.icon--location,.icon--menu,.icon--search,.icon--twitter,.icon--upload,.icon--user-tie {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
  vertical-align: bottom;
}

.icon--arrow-left,.icon--arrow-right {
  width: 1em;
  font-size: 24px;
}

.icon--cart {
  width: 1.0420560748em;
  font-size: 21.4px;
}

.icon--cross,.icon--facebook,.icon--folder {
  width: 1em;
  font-size: 24px;
}

.icon--hart {
  width: 1.036199095em;
  font-size: 22.1px;
}

.icon--instagram,.icon--left,.icon--location,.icon--menu,.icon--search,.icon--twitter,.icon--upload,.icon--user-tie {
  width: 1em;
  font-size: 24px;
}

@font-face {
  font-family: Book-antiqua;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Book-antiqua/Book-antiqua-reqular.eot?#iefix) format("embedded-opentype"),url(../fonts/Book-antiqua/Book-antiqua-reqular.woff2) format("woff2"),url(../fonts/Book-antiqua/Book-antiqua-reqular.woff) format("woff"),url(../fonts/Book-antiqua/Book-antiqua-reqular.ttf) format("truetype"),url(../fonts/Book-antiqua/Book-antiqua-reqular.svg#Book-antiqua) format("svg");
}

@font-face {
  font-family: Book-antiqua;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Book-antiqua/Book-antiqua-bold.eot?#iefix) format("embedded-opentype"),url(../fonts/Book-antiqua/Book-antiqua-bold.woff2) format("woff2"),url(../fonts/Book-antiqua/Book-antiqua-bold.woff) format("woff"),url(../fonts/Book-antiqua/Book-antiqua-bold.ttf) format("truetype"),url(../fonts/Book-antiqua/Book-antiqua-bold.svg#Book-antiqua) format("svg");
}

html {
  font-size: 87.5%;
  line-height: 1.2;
}

body {
  margin: 0;
  color: #231f20;
  background-color: #fff;
  font-family: Book-antiqua,sans-serif;
}

body,hr {
  padding: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  -webkit-border-radius: inherit;
          border-radius: inherit;
}

address {
  font-style: normal;
}

hr {
  border-width: 1px;
}

.Inp-file,[type=date],[type=email],[type=file],[type=number],[type=password],[type=search],[type=tel],[type=text],[type=time],[type=url],select,textarea {
  display: inline-block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dee0e4;
  padding: .5rem .5em;
  height: 2.4em;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: inset 0 0 0 #daedf9;
          box-shadow: inset 0 0 0 #daedf9;
}

.Inp-file:focus,[type=date]:focus,[type=email]:focus,[type=file]:focus,[type=number]:focus,[type=password]:focus,[type=search]:focus,[type=tel]:focus,[type=text]:focus,[type=time]:focus,[type=url]:focus,select:focus,textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 6px #aed8f2;
          box-shadow: inset 0 0 6px #aed8f2;
}

textarea {
  resize: vertical;
  height: 8rem;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
  }
}

@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -moz-transform: translate3d(-100%,0,0);
         transform: translate3d(-100%,0,0);
  }
}

@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
       -moz-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
  }
}

.half {
  width: 50%;
}

@media (max-width:560px) {
  .half {
    width: auto;
  }
}

.left {
  float: left;
  text-align: left;
}

@media (max-width:560px) {
  .left {
    float: none;
  }
}

.right {
  float: right;
  text-align: right;
}

@media (max-width:560px) {
  .right {
    float: none;
    text-align: left;
  }
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.va-middle {
  vertical-align: middle;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clearfix:after,.clearfix:before {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 82.1428571429rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.2rem;
}

.container:after,.container:before {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.Btn,.Btn--accent {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  text-transform: uppercase;
  background-color: #aed8f2;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  font-size: 1.58rem;
  padding: 0 .8702531646em;
  margin: .1265822785em;
  line-height: 1.835443038em;
  font-weight: 600;
}

.Btn--accent:hover,.Btn:hover {
  text-decoration: none;
  background-color: #82c3eb;
}

.Btn__icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  height: 1.2658227848em;
  width: 1.582278481em;
  margin-right: .2373417722em;
}

.Btn--accent {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #1e2827;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  background-color: #cc412c;
  color: #fff;
  font-family: Book-antiqua;
  letter-spacing: 1px;
}

.Btn--accent:hover {
  background-color: #d5503c;
  -webkit-box-shadow: 0 0 8px #5d6567;
          box-shadow: 0 0 8px #5d6567;
  -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}

.Cart {
  font-size: 1.1rem;
}

.Cart,.Cart__amount,.Cart__curr,.Cart__sum,.Cart__text,.Continue {
  display: inline-block;
}

.Continue {
  font-size: 1.2rem;
  margin: .1666666667em;
  text-decoration: underline;
  vertical-align: top;
  fill: #56aee4;
  color: #5d6567;
}

.Continue:hover {
  text-decoration: none;
}

.Continue:hover .Continue__icon {
  -webkit-animation: "fadeOutLeft" .6s;
     -moz-animation: "fadeOutLeft" .6s;
       -o-animation: "fadeOutLeft" .6s;
          animation: "fadeOutLeft" .6s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.Continue__icon {
  width: .6666666667em;
  height: .6666666667em;
  padding-right: .1666666667em;
  vertical-align: middle;
}

.Del {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  line-height: 1;
  font-size: 1rem;
  padding: .5em;
  border: 1px solid #dee0e4;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.Del:focus .Del__icon,.Del:hover .Del__icon {
  -webkit-transform: scale(.8);
     -moz-transform: scale(.8);
      -ms-transform: scale(.8);
       -o-transform: scale(.8);
          transform: scale(.8);
}

.Del__icon {
  font-size: inherit;
  height: 1em;
  width: 1em;
  line-height: 1em;
  vertical-align: middle;
  fill: red;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.Entry {
  display: inline-block;
  text-transform: uppercase;
}

.Entry__in,.Location {
  color: #b7cac7;
}

.Location,.Location__icon {
  display: inline-block;
}

.Location__icon {
  height: 1.34rem;
  vertical-align: middle;
}

.Location__text {
  display: inline-block;
  text-transform: uppercase;
}

.Location__text:hover {
  text-decoration: underline;
}

.Price,.Price--new,.Price--old {
  display: inline-block;
  margin-right: .2rem;
  font-family: Arial,sans-serif;
}

.Price--new {
  color: #d5503c;
}

.Price--old {
  color: #1e2827;
  text-decoration: line-through;
}

.Search {
  display: inline-block;
  height: 1.1rem;
}

.Search__inp {
  border: 0;
  padding: 0;
  padding: .2rem;
  width: 6.95rem;
  -webkit-border-radius: .2rem;
          border-radius: .2rem;
  border: .056rem solid #b7cac7;
}

.Search__inp,.Search__send {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.Search__send {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #000;
  width: 1.1rem;
}

.Search__icon {
  width: 100%;
  height: 100%;
  display: block;
}

.Social,.Social--facebook,.Social--instagram,.Social--twitter {
  font-size: 1rem;
  width: 2.7em;
  height: 2.7em;
  margin: .2em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  display: inline-block;
}

.Social__icon {
  width: 100%;
  height: 100%;
}

.Social--facebook {
  fill: #0882c2;
}

.Social--facebook:hover {
  fill: #066191;
}

.Social--instagram {
  fill: #478fca;
}

.Social--instagram:hover {
  fill: #3275ac;
}

.Social--twitter {
  fill: #fff;
  background-color: #379beb;
  padding: .2em;
}

.Social--twitter:hover {
  background-color: #1682d9;
}

.Btn-arrow {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  font-size: 1rem;
}

.Btn-arrow:focus {
  outline: none;
}

.Btn-arrow__icon {
  font-size: 1em;
  height: 5em;
  width: 5em;
  fill: hsla(180,2%,92%,.8);
  -webkit-transform: scaleY(.8);
     -moz-transform: scaleY(.8);
      -ms-transform: scaleY(.8);
       -o-transform: scaleY(.8);
          transform: scaleY(.8);
  stroke: #aed8f2;
  stroke-width: 10px;
}

.Btn-arrow__icon:hover {
  stroke-width: 20px;
}

.Inp-file {
  font-size: 1rem;
  position: relative;
  z-index: 1;
  padding-right: 2.88em;
  cursor: pointer;
  fill: #fff;
}

.Inp-file:hover {
  fill: #aed8f2;
}

.Inp-file__icon {
  font-size: 1em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.2em;
  height: 2.4em;
  width: 2.4em;
  padding: .2em;
  background-color: #9ab4b0;
  stroke: #628680;
  stroke-width: 40px;
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-box-shadow: inset 0 1px 1px #fff;
          box-shadow: inset 0 1px 1px #fff;
  border: 1px solid #628680;
}

.Inp-file__inp {
  display: none;
}

.Upload-btn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 1rem;
  padding: .2em .4rem;
  height: 1.5em;
  line-height: 1.5em;
  border: 1px solid #5d6567;
  -webkit-box-shadow: inset 0 1px 1px #fff;
          box-shadow: inset 0 1px 1px #fff;
  color: #fff;
  stroke: #fff;
  background-color: #aab1b3;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#90989a),to(#c5cacb));
  background-image: -webkit-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: -moz-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: -o-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: linear-gradient(0deg,#90989a,#c5cacb);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  white-space: nowrap;
}

.Upload-btn:hover {
  background-color: #757f82;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#5d6567),to(#90989a));
  background-image: -webkit-linear-gradient(bottom,#5d6567,#90989a);
  background-image: -moz-linear-gradient(bottom,#5d6567,#90989a);
  background-image: -o-linear-gradient(bottom,#5d6567,#90989a);
  background-image: linear-gradient(0deg,#5d6567,#90989a);
}

.Upload-btn__icon {
  font-size: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -.2em;
  margin-left: -.4rem;
  padding: .2em .4em;
  height: 1.9em;
  width: 1.9em;
  vertical-align: top;
  -webkit-box-shadow: inset 0 1px 1px #fff;
          box-shadow: inset 0 1px 1px #fff;
  background-color: #5d6567;
  fill: transparent;
  stroke-width: 100px;
  -webkit-border-top-left-radius: inherit;
          border-top-left-radius: inherit;
  -webkit-border-bottom-left-radius: inherit;
          border-bottom-left-radius: inherit;
}

.Banners {
  font-size: 1rem;
}

.Banners__item {
  display: block;
  width: auto;
}

.Banners__item img {
  width: 100%;
}

.Banners__arrow,.Banners__arrow--next,.Banners__arrow--prev {
  font-size: 1em;
  position: absolute;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  z-index: 2;
}

.Banners__arrow--prev {
  left: 2rem;
}

.Banners__arrow--next {
  right: 2rem;
}

@media (max-width:780px) {
  .Banners__arrow--prev {
    left: .5rem;
  }
  .Banners__arrow--next {
    right: .5rem;
  }
}

@media (max-width:560px) {
  .Banners__arrow,.Banners__arrow--next,.Banners__arrow--prev {
    font-size: .6em;
  }
}

.Resent {
  padding: .5rem 0;
  text-align: center;
  width: 70%;
}

.Resent__title {
  font-size: 1.1rem;
  margin: 1rem 0;
  font-weight: 600;
}

.Resent__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  padding: .5rem 0;
}

.Resent__item {
  display: inline-block;
  font-size: 1rem;
  margin-right: .5rem;
}

@media (max-width:560px) {
  .Resent {
    width: auto;
  }
}

.B-item {
  font-size: 1rem;
  display: table;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: relative;
  border: 1px solid #dee0e4;
}

.B-item__del {
  position: absolute;
  font-size: 1em;
  right: 1.2rem;
  top: .5em;
}

.B-item__view {
  display: table-cell;
  width: 30%;
  padding: 1em;
  vertical-align: middle;
  text-align: center;
}

.B-item__img {
  max-height: 8em;
  vertical-align: top;
}

.B-item__desc {
  display: table-cell;
  width: 70%;
  vertical-align: top;
  padding: 1em 0;
}

.B-item__name {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dee0e4;
  padding-right: 30px;
}

.B-item__name:after,.B-item__name:before {
  display: table;
  content: " ";
}

.B-item__name:after {
  clear: both;
}

.B-item__item {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dee0e4;
}

.B-item__item:after,.B-item__item:before {
  display: table;
  content: " ";
}

.B-item__item:after {
  clear: both;
}

.B-item__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.C-item {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.5rem;
  border: .0285em solid #dee0e4;
  padding: .235em;
  text-align: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  position: relative;
  padding: 0;
  padding-top: 100%;
}

.C-item:hover {
  -webkit-box-shadow: 0 0 10px #5d6567;
          box-shadow: 0 0 10px #5d6567;
  text-decoration: none;
  -webkit-transform: scale(1.02);
     -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
       -o-transform: scale(1.02);
          transform: scale(1.02);
}

.C-item__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.C-item__view {
  height: 62%;
  overflow: hidden;
  padding: .05em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.C-item__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
       -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  max-height: 80%;
  max-width: 80%;
}

.C-item__text {
  height: 38%;
  padding: .05em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.C-item__text:after,.C-item__text:before {
  display: table;
  content: " ";
}

.C-item__text:after {
  clear: both;
}

.C-item__name {
  font-size: .35em;
  font-weight: 600;
  margin: .25em 0;
}

.C-item__price {
  margin: .17em 0;
  font-size: .35em;
}

.Form-list {
  font-size: 1rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.Form-list__item {
  display: table;
  table-layout: fixed;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #aed8f2;
  padding: .5em 1.5em;
  font-weight: 400;
}

.Form-list__item:last-child {
  border-bottom: none;
}

.Form-list__cell {
  display: table-cell;
  vertical-align: top;
  margin: .5em 0;
}

.Form-list__inp {
  width: 100%;
}

@media (max-width:560px) {
  .Form-list__item {
    width: auto;
  }
  .Form-list__cell,.Form-list__item {
    display: block;
  }
}

.Lang-list {
  font-size: 0;
}

.Lang-list__item {
  font-size: .9rem;
  margin-left: .5rem;
}

.Lang-list__item,.Main-nav {
  display: inline-block;
  text-transform: uppercase;
}

.Main-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  vertical-align: top;
}

.Main-nav.isMob {
  height: auto;
  clear: both;
  text-align: right;
}

.Main-nav.isMob,.Main-nav.isMob .Main-nav__item,.Main-nav.isMob .Main-nav__item>a {
  display: block;
}

.Main-nav__item {
  font-size: 1.1rem;
  display: inline-block;
  padding: 0 .45rem;
  vertical-align: middle;
  letter-spacing: .0909090909em;
}

.Main-nav__item:hover {
  background-color: #aed8f2;
  font-weight: 600;
  letter-spacing: .0545454545em;
}

.Main-nav__item:hover a {
  text-decoration: none;
}

.Main-nav__toggle {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  float: right;
  margin-left: 1em;
  font-size: 1rem;
}

.Main-nav__toggle:focus {
  outline: none;
}

.Main-nav__icon {
  font-size: inherit;
  vertical-align: middle;
  fill: #56aee4;
  border: 1px solid #56aee4;
  padding: .2em;
  -webkit-border-radius: .2em;
          border-radius: .2em;
  width: 1.2em;
  height: 1.2em;
}

.Main-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.Main-title__title {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.Main-title__name {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}

.Main-title__desc {
  display: block;
  font-size: .6rem;
}

.Simple-box {
  text-transform: uppercase;
}

.Simple-box__title {
  color: #1e2827;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: .5rem;
  margin-bottom: .35rem;
}

.Simple-box__list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #5d6567;
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.Simple-box__li {
  margin: .35rem 0;
}

.Simple-box__link {
  padding: 0 .2rem;
  display: inline;
}

.Simple-box__link:hover {
  background-color: #aed8f2;
  text-decoration: none;
}

.Total {
  background-color: #aed8f2;
  padding: 1.5em 1.2rem;
}

.Total:after,.Total:before {
  display: table;
  content: " ";
}

.Total:after {
  clear: both;
}

.User-acc {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.User-acc__header {
  padding: .5em 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #5d6567;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#90989a),to(#c5cacb));
  background-image: -webkit-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: -moz-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: -o-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: linear-gradient(0deg,#90989a,#c5cacb);
  color: #5d6567;
  fill: #5d6567;
}

.User-acc__icon {
  height: .7em;
  width: .7em;
  vertical-align: middle;
}

.User-acc__item {
  margin-left: -1rem;
  margin-right: -1rem;
  border-bottom: 1px solid #dee0e4;
  color: #5d6567;
}

.User-acc__item:last-child {
  border-bottom: none;
}

.User-acc__link {
  display: block;
  padding: .4em 1rem;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.User-acc__link:before {
  content: "";
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -.25em;
  left: .25em;
  width: .5em;
  height: .5em;
  border: .25em solid transparent;
  border-left-width: .35em;
  border-left-color: #5d6567;
}

.User-acc__link:hover {
  text-decoration: none;
  background-color: #aab1b3;
}

.User-acc__footer {
  padding: .3em 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #5d6567;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#90989a),to(#c5cacb));
  background-image: -webkit-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: -moz-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: -o-linear-gradient(bottom,#90989a,#c5cacb);
  background-image: linear-gradient(0deg,#90989a,#c5cacb);
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.Start__item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 82.1428571429rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.01rem;
}

.Start__item:after,.Start__item:before {
  display: table;
  content: " ";
}

.Start__item:after {
  clear: both;
}

.Start__half-banner {
  float: left;
  width: 49%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.Start__half-banner:nth-child(2n) {
  margin-left: 2%;
}

.Start__half-banner img {
  vertical-align: top;
}

@media (max-width:560px) {
  .Start__half-banner {
    float: none;
    width: 100%;
    margin-top: .2rem;
  }
  .Start__half-banner:nth-child(2n) {
    margin-left: 0;
  }
}

.Product {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: .3rem 0;
  font-size: 1.3rem;
}

.Product__view {
  display: table-cell;
  width: 35%;
  text-align: center;
  vertical-align: middle;
  padding: .7692307692em 0 .7692307692em 2.3076923077em;
}

.Product__img {
  max-height: 100%;
}

.Product__desc {
  display: table-cell;
  width: 65%;
  padding: .3846153846em 0 .3846153846em 4.6153846154em;
  vertical-align: top;
}

.Product__title {
  font-size: 1.2153846154em;
  margin: 1.2658227848em 0;
  padding-left: .6962025316em;
  padding-right: .6962025316em;
  font-weight: 600;
}

.Product__key {
  font-size: 1em;
  color: #1e2827;
  padding-left: .8461538462em;
  padding-right: .8461538462em;
  margin: .1538461538em 0;
}

.Product__price {
  font-size: 1.3076923077em;
  margin-bottom: .4852941176em;
  margin-top: .4852941176em;
  padding-left: .6470588235em;
  padding-right: .6470588235em;
}

.Product__btns {
  margin-top: .6346153846em;
  margin-bottom: .6346153846em;
}

.Product__btn {
  font-size: 1.2153846154em;
  margin: 0;
  margin-right: .4215189873em;
}

.Product__btn:last-child {
  margin-right: 0;
}

.Product__recom {
  margin-top: 2.5384615385em;
  font-weight: 600;
}

.Product__social {
  font-size: .4615384615em;
}

@media (max-width:780px) {
  .Product {
    font-size: 15.5px;
  }
}

@media (max-width:560px) {
  .Product {
    display: block;
    width: auto;
  }
  .Product__view {
    height: 120px;
  }
  .Product__desc,.Product__view {
    display: block;
    width: 100%;
    padding: 0;
  }
  .Product__desc:after,.Product__desc:before {
    display: table;
    content: " ";
  }
  .Product__desc:after {
    clear: both;
  }
}

.Catalog {
  padding-top: .61rem;
  padding-bottom: .61rem;
}

.Catalog:after,.Catalog:before {
  display: table;
  content: " ";
}

.Catalog:after {
  clear: both;
}

.Catalog__item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 32.0261437908%;
  float: left;
  margin-bottom: .61rem;
}

.Catalog__item:nth-child(3n+1) {
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.Catalog__item:nth-child(3n+2) {
  margin-left: 33.9869281046%;
  margin-right: -100%;
  clear: none;
}

.Catalog__item:nth-child(3n+3) {
  margin-left: 67.9738562092%;
  margin-right: -100%;
  clear: none;
}

@media (max-width:560px) {
  .Catalog__item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 49.0196078431%;
    float: left;
  }
  .Catalog__item:nth-child(odd) {
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .Catalog__item:nth-child(2n+2) {
    margin-left: 50.9803921569%;
    margin-right: -100%;
    clear: none;
  }
}

@media (max-width:400px) {
  .Catalog__item {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 0 !important;
    float: none !important;
  }
}

.Relative {
  font-size: 1rem;
  margin: 0 -1.2em;
}

.Relative .slick-list {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width:1000px) {
  .Relative .slick-list {
    width: 100%;
  }
}

.Relative__arrow,.Relative__arrow--next,.Relative__arrow--prev {
  font-size: 1em;
  position: absolute;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  z-index: 2;
}

.Relative__arrow--prev {
  left: 0;
}

.Relative__arrow--next {
  right: 0;
}

.Relative__slide {
  margin: 1.6em;
}

.Relative__item {
  font-size: 2em;
}

@media (max-width:560px) {
  .Relative {
    font-size: .95rem;
  }
  .Relative__arrow,.Relative__arrow--next,.Relative__arrow--prev {
    font-size: .6em;
  }
}

.Header__top {
  background-color: #aed8f2;
  margin-bottom: 1.5rem;
}

.Header__top:after,.Header__top:before {
  display: table;
  content: " ";
}

.Header__top:after {
  clear: both;
}

.Header__center {
  background-color: #aed8f2;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.Header__nav {
  line-height: 2rem;
  text-align: center;
}

.Header__nav:after,.Header__nav:before {
  display: table;
  content: " ";
}

.Header__nav:after {
  clear: both;
}

@media (max-width:400px) {
  .Header__nav {
    font-size: 13px;
  }
}

.Header__bottom {
  background-color: #aed8f2;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.Main {
  font-size: 1rem;
  width: 75%;
  float: left;
  margin: .22rem 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.Main__title {
  font-size: 1.2em;
  padding: 1.2rem;
  font-weight: 600;
  border-top: 1px solid #dee0e4;
  border-bottom: 1px solid #dee0e4;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.Main__container,.Main__item,.Main__title {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.Main__container {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.Main__container:after,.Main__container:before {
  display: table;
  content: " ";
}

.Main__container:after {
  clear: both;
}

@media (max-width:924px) {
  .Main {
    width: auto;
    float: none;
  }
}

@media (max-width:560px) {
  .Main {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
  }
}

.Sidebar {
  width: 25%;
  float: left;
  padding: .22rem 0;
  height: 100%;
}

.Sidebar__inner {
  overflow: auto;
  height: 100%;
  padding: 0 5px;
}

.Sidebar__toggle {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  width: 10px;
  padding: .5rem;
  background-color: #aed8f2;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
          border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  border: 1px solid #82c3eb;
  border-left: 0;
}

.Sidebar__toggle:focus {
  outline: none;
}

.Sidebar__item {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

@media (max-width:924px) {
  .Sidebar {
    position: fixed;
    top: 0;
    z-index: 20;
    right: 100%;
    width: 20rem;
    -webkit-transition: .4s linear;
    -o-transition: .4s linear;
    -moz-transition: .4s linear;
    transition: .4s linear;
    background-color: hsla(0,0%,100%,.95);
    padding: .5rem;
    border: 1px solid #b7cac7;
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
        -ms-transform: translate(0);
         -o-transform: translate(0);
            transform: translate(0);
  }
  .Sidebar.open {
    -webkit-transform: translate(100%);
       -moz-transform: translate(100%);
        -ms-transform: translate(100%);
         -o-transform: translate(100%);
            transform: translate(100%);
  }
  .Sidebar__toggle {
    display: inline-block;
  }
}

.Footer__center {
  background-color: #aed8f2;
  margin-bottom: .94rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.Footer__bottom {
  background-color: #aed8f2;
  padding-top: .55rem;
  padding-bottom: .55rem;
}

.Footer__nav {
  line-height: 2.8rem;
  text-align: center;
}
